.header {
	@include clearfix;
	padding: .75em 0;
	background: $color-brand;
	color: $color-text-header;

	&.home {
		padding: 3em 0;
		text-align: center;

		.logo {
			padding-bottom: .5em;
			display: block;
			margin: 0 auto;
		}

		h1 { 
			font-size: 2em; 
			margin: .5em 0;
		}
		p { 
			margin: 0 0 2.5em 0;
			font-weight: 600; 
		}

		@media only screen and (min-width: 40em) {
			padding: 3.5em 0;
			.logo {
				width: 9.25em;
			}
			h1 { font-size: 3em; }
		}
		@media only screen and (min-width: 60em) { font-size: 1.2em; }
	}

	&.interior {
		a {
			color: #fff;
			&:hover { color: #fff; }
		}
		@media only screen and (min-width: 40em) { 
			.wrap {
				padding: 0 2em;
			}
		}
		h1 {
			font-size: 1em;
			display: inline-block;
			margin: 0 0 0 .5em;
			font-weight: 600;
		}
	}
}

