---
name: Footer
---

<footer class="footer">
	<nav>
		<ul>
			<li><a class="brand" href="/">Responsive Email Resources</a></li>
			<li><a href="http://responsiveemailprocess.com">Responsive Email Process</a></li>
			<li><a href="http://responsiveemailpatterns.com">Responsive Email Patterns</a></li>
			<li><a href="submit-resource.html">Submit a Resource</a></li>
			<li><a href="http://www.twitter.com/briangraves">@BrianGraves</a></li>
		</ul>
	</nav>
</footer>