---
name: Interior Header
---

<header class="header interior">
	<div class="wrap">
		<a href="index.html">
			<img src="images/envelope.svg" alt="" width="20" />
			<h1>Responsive Resources</h1>
		</a>
	</div>
</header>