---
name: Header Home
---

<header class="header home">
	<img class="logo" src="images/envelope.svg" alt="" width="90" />
	<h1>Responsive Email Resources</h1>
	<p>A collection of tools &amp; resources for responsive email design</p>

	<a class="button" href="submit-resource.html">Submit A Resource</a>
</header>