---
name: Interior Header
---

<header class="header interior">
	<div class="wrap">
		<a class="logo" href="/">
			<img src="images/envelope.svg" alt="" width="20" />
			<h1>Responsive Email Resources</h1>
		</a>
	</div>
</header>