---
title: Responsive Email Resources
layout: interior
---

<div class="form">
	<h1>Thanks for submitting a Resource!</h1>
	<div class="submit">
		<a class="button" href="submit-resource.html">Submit Another Resource</a>
	</div>
</div>