---
title: Responsive Email Resources
layout: interior
---

<div class="form">
	<h1>Submit a Resource</h1>
	<script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='confirmation.html';}"></iframe>
	<form action="https://docs.google.com/forms/d/183EgWS5Ho_MSuy9xqiwUeqUt4ZEOx4vmxrb4a4ZsUFc/formResponse?embedded=true" method="post" target="hidden_iframe" onsubmit="submitted=true;">
		<fieldset>
			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1175817933">*Resource Name</label>
			<input type="text" name="entry.1175817933" value="" class="ss-q-short" id="entry_1175817933" dir="auto" aria-label="Resource Name Tool, Article, or Resource Name " aria-required="true" required="" title="" placeholder="Tool, Article, or Resource Name" required>

			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1054747574">*Category</label>
			<input type="text" name="entry.1054747574" value="" class="ss-q-short" id="entry_1054747574" dir="auto" aria-label="Category What category should this go under? " aria-required="true" required="" title="" placeholder="What category should this go under?">

			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_2114277955">*Resource Url</label>
			<input type="url" name="entry.2114277955" value="" class="ss-q-short" id="entry_2114277955" dir="auto" aria-label="Resource Url Where can people find this? " aria-required="true" required="" title="" placeholder="Where can people find this?" />
		</fieldset>
		
		<fieldset>
			<label aria-hidden="true" class="ss-q-item-label aria-todo" for="entry_1626757509">*Description</label>
			<textarea name="entry.1626757509" class="ss-q-long" id="entry_1626757509" dir="auto" aria-label="Description What benefit does this tool or resource provide? " aria-required="true" required="" rows="10" placeholder="What benefit does this tool or resource provide?"></textarea>
		</fieldset>
		<input type="hidden" name="draftResponse" value="[,,&quot;8960459723001180691&quot;]
		">
		<input type="hidden" name="pageHistory" value="0">
		<input type="hidden" name="fbzx" value="8960459723001180691">
		<div class="submit">
			<input type="submit" name="submit" value="Submit Resource" id="ss-submit">
		</div>
	</form>
</div>